@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

main{
    margin-top: 10vh;
    background-color: #fff;
    height: auto;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
    font-weight: 500;
}

/* ==================== NAVBAR ==================== */

header nav{
    position: fixed;
    top: 0;
    z-index: 1000000;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.1);
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
  nav .logo img {
    min-width: 463px;
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}
  
nav .logo{
    float: left;
}

.nav-buttons{
    float: right;
}

.nav-buttons ul{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-buttons ul li a{
    position: relative;
    display: flex;
    color: black;
    font-weight: 500;
}

.nav-buttons ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(1,121,156,1);
    transition: width 0.3s ease;
}

.nav-buttons ul li a:hover::after{
    width: 100%;
}

/* MAIN */

/* ================= BANNER ===================== */

/* Estilos do Container Principal */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 689px;
    width: 100%;
    overflow: hidden;
  }
  

/* Estilo do Banner (imagem de fundo) */
.banner {
    background: url('./assets/fundo.png') no-repeat center/cover;
    width: 100%;
    /* Faz o banner ocupar mais espaço para rolagem */
    height: 100%;
    position: absolute;
    right: -300px;
    /* Puxa o banner 300px para a direita */
    z-index: 1;
}

/* .banner-container-info {
    z-index: 5;
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.2;
    position: relative;
    left: 100px;
} */

.banner-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
    left: 100px;
  }
  
  /* Cada slide */
  .banner-slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-shrink: 0;
    line-height: 1.2;
  }

/* Círculo Branco com Sombra */
.banner-circle {
    position: relative;
    width: 527px;
    height: 527px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.banner-circle img {
    width: 120%;
    opacity: 1; /* Começa visível */
    transition: opacity 0.5s ease; /* Adiciona uma transição suave de opacidade */
    will-change: transform, opacity;
    animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(.25, .46, .45, .94) 0.5s forwards;
}

.banner-info {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.banner-info-1, .banner-info-2{
    overflow: hidden; /* Oculta o texto fora do contêiner */
}

.banner-info h3 {
    display: block;
    color: white;
    font-size: 45px;
    width: 680px;
    /* Largura máxima permitida antes de quebrar */
    max-width: 100%;
    /* Garante que se ajuste em layouts menores */
    word-wrap: break-word;
    /* Permite a quebra de palavras longas */
    white-space: normal;
    /* Garante que o texto quebre linhas automaticamente */
    text-align: left;
    /* Alinhamento opcional */
    animation: txt-in linear .4s 1s forwards;

    transform: translateY(200px);


}

.banner-info p {
    color: white;
    font-size: 22px;
    width: 500px;
    /* Largura máxima permitida antes de quebrar */
    max-width: 100%;
    /* Garante que se ajuste em layouts menores */
    word-wrap: break-word;
    /* Permite a quebra de palavras longas */
    white-space: normal;
    /* Garante que o texto quebre linhas automaticamente */
    text-align: left;
    /* Alinhamento opcional */
    animation: txt-in linear .4s 1s forwards;

    transform: translateY(-120px);
}

.banner-info a {
    display: inline-block;
    /* Ajusta ao tamanho do texto */
    background-color: white;
    /* Fundo branco */
    color: #F09223;
    /* Cor do texto */
    padding: 15px 20px;
    /* Espaçamento interno do botão */
    border-radius: 30px;
    /* Bordas arredondadas */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Destaca o texto */
    text-decoration: none;
    /* Remove sublinhado */
    text-align: center;
    /* Centraliza o texto */
    max-width: max-content;
    /* Impede que o botão se expanda além do texto */
    width: auto;
    /* Garante que o tamanho seja proporcional ao texto */
    border: 2px solid #fff;
    transition: 0.3s ease;
    /* Suave no hover */

    -webkit-animation: botao-fade .4s cubic-bezier(.39, .575, .565, 1) both;
    animation: botao-fade .4s cubic-bezier(.39, .575, .565, 1) both;
    animation-delay: 1.5s;
}

.banner-info a:hover {
    background-color: unset;
    /* Remove fundo no hover */
    color: white;
    /* Altera a cor do texto no hover */

}

/* Botões de navegação */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: orange;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
    z-index: 3;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  }
  
  .arrow.left {
    left: 20px;
  }
  
  .arrow.right {
    right: 20px;
  }
  
  .arrow:hover {
    color: rgba(29, 81, 104, 1);
  }
  
  .banner-container:hover .arrow {
    opacity: 1;
  }


  @keyframes txt-in {
    100% {
        transform: translateY(0);
    }
}


@keyframes botao-fade {
    0% {
        transform: translateX(100px);
        -moz-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        opacity: 0;
        -moz-opacity: 0;
        -webkit-opacity: 0;
        filter: alpha(opacity=0)
    }

    100% {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        filter: alpha(opacity=1)
    }
}

@keyframes slide-in-elliptic-left-fwd {
    0% {
        transform: translateX(-300px) rotateY(30deg) scale(0);
        transform-origin: -50% 50%;
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}


/* ================= RESPONSIVO BANNER ===================== */

@media (max-width: 1410px) {

    .banner-circle {
        width: 500px;
        height: 500px;

    }

    .banner-circle img {
        width: 115%;
    }

    .banner-info h3 {
        font-size: 40px;
        width: 500px;
        /* Largura máxima permitida antes de quebrar */

    }

    .banner-info p {
        font-size: 22px;
        width: 350px;
        /* Largura máxima permitida antes de quebrar */

    }



}


@media (max-width: 1100px) {

    .banner-container {
        height: auto;
    }


    .banner {
        background: none;
    }

    .banner-content {
        left: 0;
    }

    .banner-slide {
        flex-direction: column;
        justify-content: space-between;

    }

    .banner-info {
        background-color: #F09223;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
    }

    .banner-info h3 {
        color: white;
        font-size: 30px;
        width: 100%;
        /* Largura máxima permitida antes de quebrar */

        text-align: center;
        /* Alinhamento opcional */
    }

    .banner-info p {
        color: white;
        font-size: 15px;
        width: 100%;
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
    }

    .arrow {
        top: 40%;
    }

}

@media (max-width: 550px) {

    .banner-circle {
        width: 300px;
        height: 300px;

    }

    .banner-circle img {
        width: 115%;
    }

    .banner-info h3 {
        font-size: 25px;
    }

    .arrow {
        top: 30%;
    }

}

/* ================ ABOUT ================== */

.about{
    text-align:center;
    padding: 5rem 0;
    background-color: #f6f6f6;
}

.about h1{
}

.about p{
    font-size: 1.5rem;
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-grid p, .about-grid div{
    padding: 2rem;
}

.fast{
    display: inline-block;
    color: #F09223;
    font-size: 5rem;
    background-image: linear-gradient(to right, #01799C 40%, #F09223 70%); 
    -webkit-background-clip: text; 
    color: transparent; 
}

:root .p1{
    --i: 1;
}

:root .p2{
    --i: 2;
}

:root .p3{
    --i: 3;
}

:root .p4{
    --i: 4;
}

.rotating-effect{
    position: relative;
    top: 10rem;
    left: 25rem;
    width: 0vw;
    height: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: anime233 10s infinite linear;
    transform: translate(-50%, -50%);
}

@keyframes anime233{
    0%{
        transform: perspective(1200px) rotateY(0deg);
    }
    100%{
        transform: perspective(1200px) rotateY(-360deg);
    }
}

.rotate{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(calc(var(--i) * calc(360deg / 4))) translateZ(200px);
}

.rotating-effect img{
    width: 120px;
}

.why-choose-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: #f6f6f6;
    height: auto;
    padding: 5rem 0 ;
}

.advantages{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2rem;
}

.card1 { grid-area: 1 / 1 / 2 / 2; }
.card2 { grid-area: 1 / 3 / 2 / 4; }
.card3 { grid-area: 1 / 5 / 2 / 6; }
.card4 { grid-area: 2 / 2 / 3 / 3; }
.card5 { grid-area: 2 / 4 / 3 / 5; }

/* CARDS */

.credentialing {
    --bg-color: #F09223;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .card {
    width: 280px;
    height: 321px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
  }

  .circle img{
    z-index: 2000;
    width: 70px;
    height: 70px;
  }
  
  
  .overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 80px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
  
/* ==================== footer ==================== */

.complete-footer{
    background: linear-gradient(90deg, rgba(1,121,156,1) 0%, rgba(29,81,104,1) 100%);;
    border-top: 2px solid #F09223;
    z-index: 5;
}

/* footer-orange-line <<<<<<<<<<<<<<<

 */
.footer-orange-line{
    background-color: #F09223;
    height: 3px;
    width: 90px;
    margin-bottom: 25px;
}

.subtopic-footer{
    color: #A5A5A5;
    font-weight: 500;
}

.container-footer{

    margin: auto;
    

}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col{
    width: 25%;
    height: 25%;
    flex-grow: 1;
    padding: 50px 0;
    padding-left: 4%;
}

.number-footer p{
    font-size: 18px;
    font-weight: 500;
}

.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin-bottom: 40px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 350;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #F09223;
    padding-left: 5px;
}

.footer-col-map{
    flex-grow: 2;
}

.footer-col-map iframe{
    width: 100%;
    height: 100%;
}

.copyright-footer{
    height: 49px;
    width: 100%;
    display: flex;
}

.copyright-footer {
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

/* Responsivo */

@media (max-width: 1410px) {
    main{
        margin-top: 17vh;
    }
    
    header nav{
        display: grid;
        grid-template-columns: 1fr;
        height: 17vh;
        gap: 0;
    }

    .nav-buttons{
        background-color: rgba(1,121,156,1);
    }

    .nav-buttons ul li{
        padding: 0.5rem;
    }

    .nav-buttons ul li a{
        color: #fff;
    }

    .nav-buttons ul li a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #F09223;
        transition: width 0.3s ease;
    }
    
    .nav-buttons ul li a:hover::after{
        width: 100%;
    }

}

/* Responsivo footer */

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:650px) {

    .footer-col-map iframe{
        width: 100%;
        min-height: 500px;
        height: 100%;
    }

}


@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}