@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

main{
    margin-top: 10vh;
    background-color: #fff;
    height: auto;
    min-height: 90vh;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
    font-weight: 500;
}

/* ==================== NAVBAR ==================== */

header nav{
    position: fixed;
    top: 0;
    z-index: 1000000;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.1);
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
  nav .logo img {
    min-width: 463px;
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}
  
nav .logo{
    float: left;
}

.nav-buttons{
    float: right;
}

.nav-buttons ul{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
}

#services-link{
    display: none;
}

.nav-buttons ul li a{
    position: relative;
    display: flex;
    color: black;
    font-weight: 500;
}

.nav-buttons ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(1,121,156,1);
    transition: width 0.3s ease;
}

.nav-buttons ul li a:hover::after{
    width: 100%;
}

/* MAIN */

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    background-color: #F09223;
    width: 100%;
    height: 30rem;
}

.banner-circle img{
    width: 110%;
    height: 110%;
}

.banner-circle{
    display: flex;
    place-items: center;
    place-content: center;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
}

.about{
    text-align:center;
    padding: 2rem 0;
    height: 30rem;
    background-color: #f6f6f6;
}

.about p{
    font-size: 1.5rem;
}

.why-choose-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: #f6f6f6;
    height: auto;
    padding: 20px 0 ;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.carousel{
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
}

.carousel-lettering{
    display: inline-block;
    animation: 15s slide infinite linear;
}

.carousel-lettering span{
    font-size: 4rem;
}



/* CARDS */

.advantages{
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: space-around;
}

.credentialing {
    --bg-color: #F09223;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .card {
    width: 280px;
    height: 321px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
  }

  .circle img{
    z-index: 2000;
    width: 70px;
    height: 70px;
  }
  
  
  .overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 80px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
  
/* ==================== footer ==================== */

footer{
    background: linear-gradient(90deg, rgba(1,121,156,1) 0%, rgba(29,81,104,1) 100%);;
    border-top: 2px solid #F09223;
    z-index: 5;
}

/* footer-orange-line <<<<<<<<<<<<<<<

 */
.footer-orange-line{
    background-color: #F09223;
    height: 3px;
    width: 90px;
    margin-bottom: 25px;
}

.subtopic-footer{
    color: #A5A5A5;
    font-weight: 500;
}

.container-footer{

    margin: auto;
    

}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col{
    width: 25%;
    height: 25%;
    flex-grow: 1;
    padding: 50px 0;
    padding-left: 4%;
}

.number-footer p{
    font-size: 18px;
    font-weight: 500;
}

.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin-bottom: 40px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 350;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 5px;
}

.footer-col-map{
    flex-grow: 2;
}

.footer-col-map iframe{
    width: 100%;
    height: 100%;
}

/* Responsivo */

@media (max-width: 1410px) {
    main{
        margin-top: 17vh;
    }
    
    header nav{
        display: grid;
        grid-template-columns: 1fr;
        height: 17vh;
        gap: 0;
    }

    .nav-buttons{
        background-color: rgba(1,121,156,1);
    }

    .nav-buttons ul li a{
        color: #fff;
    }

    .nav-buttons ul li a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #F09223;
        transition: width 0.3s ease;
    }
    
    .nav-buttons ul li a:hover::after{
        width: 100%;
    }

    .company-services-links{
        display: none;
    }

    #services-link{
        display: flex;
    }
}

@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}